
:root {
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --text-preset-1: Outfit, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--slate-300);
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 475px;
    width: 320px;
    background-color: white;
    padding: 16px;
    
    border: none;
    border-radius: 20px;
}
.qrcode {
    margin-top: 24px;
    height: 288px;
    width: 288px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.content {
    margin: 16px;
}
h3 {
    font-family: var(--text-preset-1);
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 16px;
}
p {
    font-family: var(--text-preset-1);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--slate-500);
}
/* Add responsive for website */
@media screen and (max-width: 474px) {
    .card {
        height: 500px;
        padding: 16px 16px 40px 16px;
    }
    
}